@model ForgetPasswordViewModel
@{
    Layout = null;
}


<a href="c:\users\administrator\source\repos\traversalcoreproje\traversalcoreproje\wwwroot\lib\bootstrap\dist\css\bootstrap.min.css.map">c:\users\administrator\source\repos\traversalcoreproje\traversalcoreproje\wwwroot\lib\bootstrap\dist\css\bootstrap.min.css.map</a>
<link href="c:\users\administrator\source\repos\traversalcoreproje\traversalcoreproje\wwwroot\lib\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />
<br /><br />
<div class="container">
    <h2>Şifre Yenileme Sayfası</h2>
    <form>
        <label>Mail Adresinizi Giriniz</label>
        <input type="text" class="form-control" asp-for="Mail" />
        <br />
        <button class="btn btn-primary">Şifre Yenileme Linki Gönder</button>
    </form>
</div>


