<div class="col-xl-4 col-lg-12">
    <div class="card" style="height:675px;">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgileri ve İstatistikler</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content">
            <div class="card-body">
                <hr />
                <p>Traversal Rezervasyon web uygulamasının kullanıcı dashboard panelini görüntülemektesiniz. Aşağıda web sitemizle ilgili istatistikleri bulabilirsiniz.</p>
                <h4 class="card-title">İstatistikler</h4>
                <hr />
                <h6>Aktif Rezervasyon Sayınız : 1</h6>
                
                <h6>Geçmiş Rezervasyon Sayınız : 4</h6>
                
                <h6>Aktif Rezervasyon Sayınız : 2</h6>

                <h6>Onay Bekleyen Rezervasyon Sayınız : 1</h6>

                <h6>Toplam Rota Sayısı : 12</h6>

                <h6>Rehber Sayısı : 6</h6>

                <h6>Toplam Misafir Sayımız : 1234</h6>

                <h6>Ortalama Puanımız : 8.97/10</h6>
                
                </p>
            </div>
        </div>
    </div>
</div>