@model List<AppRole>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Rol Listesi</h1>
@if (Model != null && Model.Any())
    {
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Rol Adı</th>
        <th>Rolü Sil</th>
        <th>Rolü Güncelle</th>
    </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td><a href="/Admin/Role/DeleteRole/@item.Id" class="btn btn-outline-danger">Rolü Sil</a></td>
                <td><a href="/Admin/Role/UpdateRole/@item.Id" class="btn btn-outline-success">Rolü Güncelle</a></td>
            </tr>
        }
    </table>
    }   
else
{
        <br />
        <p class="alert alert-danger">Herhangi bir rol bulunamadı.</p>
    
}

<a href="/Admin/Role/CreateRole/" class="btn btn-outline-primary">Yeni Rol Girişi</a>

 